<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="static/js/jquery-3.6.0.js"></script>
        <script type="text/javascript" src="static/js/main.js"></script>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <title>Scanner</title>
    <body>
        <div class="centered">
            <h1 id="maintext">Scan Your Network For Vulnrable IOT Devices</h1>
            <img id=loading style="display:none;" src="static/img/loading.gif" width="200" />
            <form method=post action="/scanner">
            <input id="scan" class="button" type=submit value='Scan' name='submit_btn'>
            </form>
        </div>
    </body>
</html>